body {
    background-color: #0c0c1b;
    color: #c0c0c0;
    font-family: 'Fira Code', 'Courier New', monospace;
    margin: 0;
    padding: 20px;
    height: 100vh;
}

#terminal {
    max-width: 800px;
    margin: 50px 0 0 50px;
    white-space: pre-wrap;
    text-align: left;
    line-height: 1.8;
}

.prompt {
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 12px;
}

.cursor {
    display: inline-block;
    color: #c0c0c0;
    width: 10px;
 /*   background-color: #33ff33;
   animation: blink 1s step-end infinite; */
    height: 1em;
}
/*
@keyframes blink {
    from, to { background: transparent }
    50% { background: #c0c0c0; }
}
*/
#links {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

#links a img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
    opacity: 0.7;
    transition: opacity 0.3s, transform 0.3s;
}

#links a:hover img {
    opacity: 1;
    transform: scale(1.1);
}

#nav {
    position: absolute;
    top: 20px;
    left: 50px;
    display: flex;
    gap: 20px;
}

#nav a {
    color: #c0c0c0;
    text-decoration: none;
    font-size: 1rem;
    transition: opacity 0.3s;
}

#nav a:hover {
    opacity: 0.7;
}

.terminal-section {
    margin-left: 50px;
    margin-top: 80px;
    color: #c0c0c0;
}

.terminal-header {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.terminal-header span {
    color: #c0c0c0;
}

.terminal-output {
    font-size: 1.2rem;
    white-space: pre-wrap;
}

.content-section {
    display: none;
    margin-left: 50px;
    margin-top: 80px;
    color: #c0c0c0;
}

#project-links {
    margin-left: 10px;
    margin-top: 40px;
}

.project-link:hover {
    opacity: 0.8;
}

.project-link {
    display: block;       
    width: max-content;        
    margin-bottom: 8px;           
    color: #c0c0c0;
    text-decoration: none;
    font-size: 1.1rem;
}

.checkmark {
    color: #33ff33;
    margin-right: 8px;
}